h1 {
    margin-top: 10px;
}

iframe {
    border: none;
    width: 100%;
}
#logo {
    min-height: 100px;
    background: url(/etc.clientlibs/repl/components/repl/clientlibs/resources/htl.svg) no-repeat 50% 100%;
}

#input {
    height: calc(100vh - 100px);
}

#input .editor {
    height: calc(50vh - 100px);
}

#output .output-view {
    height: calc(100vh - 150px);
}

#output .nav {
    margin-top: -3px;
}

@media (max-width: 768px) {
    #output .lead {
        display: none;
    }

    #output .nav {
        margin: -8px 0 10px;
    }
}
