<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Use JS Testing</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    

        <style type="text/css" media="screen">

            #main {
                margin-top: 0px;
            }

            .panel-body {
                padding: 0;
            }

            .panel-heading {
                padding: 2px 0 2px 0;
            }

            .editor {
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 310px;
            }

            #divider {
              border-left: 1px dotted;
              width: 1px;
              
              height: 100%;
            }

            .tall {
                height: 650px;
            }

            #output iframe {
              border: none;
              width: 100%;
            }

            .page-header {
              margin: 0px;
            }

            .page-header h1 {
                margin: 0px;
            }


        </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

<div class="page-header">
    <h1 class="center">Sightly  <small>REPL</small></h1>
</div>

<div class="row" id="main">
    <div id="left-panel" class="col-md-5">
        <div id="templateContainer">
            <p class="lead">template.sly</p>
            <div id="templateEditor" class="editor">
                NOT INITIALIZED
            </div>
        </div>

        <div id="logicContainer">
            <p class="lead">logic.js</p>        
            <div id="logicEditor" class="editor">
                NOT INITIALIZED
            </div>
        </div>
    </div>
    <div id="output" class="col-md-7">
        <div class="row">
            <p class="lead col-md-8">repl.template.html</p>
            <ul class="nav nav-pills col-md-4">
                <li class="active"><a data-toggle="tab" href="#" id="view-selector">VIEW</a></li>
                <li><a data-toggle="tab" href="#" id="source-selector">SOURCE</a></li>
                <li><a data-toggle="tab" href="#" id="java-selector">JAVA</a></li>
            </ul>
        </div>
        <iframe id="outputFrame" src="/content/repl.template.html" class="output-view tall"></iframe>
        <div id="sourceEditor" class="editor output-view tall" style="display: none"></div>
        <div id="javaEditor" class="editor output-view tall" style="display: none"></div>
    </div>
</div>



<script type="text/javascript" data-sly-use.classRoot="path-finder.js">

    var TEMPLATE_URL = '/apps/repl/components/repl/template.html';
    var LOGIC_URL = '/apps/repl/components/repl/logic.js';
    var PAGE_URL = '/content/repl.template.html';
    var JAVA_URL = '${classRoot @ context="scriptString"}/apps/repl/components/repl/SightlyJava_template.java';

    function now() {
        return new Date().getTime();
    }

    function throttle(limiter, f) {
        return function() {
            setTimeout(function() {
                var callTime = now();
                if (!limiter.last || callTime - limiter.last > limiter.ms) {
                    limiter.last = callTime;
                    f();
                }
            }, limiter.ms);
        };
    }

    var saveLimiter = {
        ms: 500
    };

    function saveReload(url, value) {
        console.log('Saving to url ' + url + ': ' + value);
        $.ajax({
            url: url,
            type: 'PUT',
            data: value,
            contentType: 'plain/text',
            success: function() {
                refreshOutput();
            }
        });
    }

    function configure(editor, data, url, mode, readOnly) {
        editor.renderer.setShowGutter(false);
        editor.setValue(data);
        editor.clearSelection();
        editor.setShowPrintMargin(false);
        editor.setHighlightActiveLine(false);
        var session = editor.getSession();
        if (!readOnly) {
            session.on('change', throttle(saveLimiter, function() {
                var content = editor.getValue();
                saveReload(url, content);
            }));
        }
        editor.setReadOnly(!!readOnly);
        session.setUseWorker(false);
        session.setMode(mode);
    }

    function initEditor(id, url, mode, cb) {
        $.ajax(url, {
            type: 'GET',
            dataType: 'text',
            processData: false,
            success: function(data) {
                var editor = ace.edit(id);
                configure(editor, data, url, mode);
                if (cb) {
                    cb(editor);    
                }
            },
            error: function(xhr, status, err) {
                console.error('Error thrown: ' + err);
            }
        });
    }

    initEditor('templateEditor', TEMPLATE_URL, 'ace/mode/html', function() {
        initEditor('logicEditor', LOGIC_URL, 'ace/mode/javascript');    
    });

    var sourceEditor = ace.edit('sourceEditor');
    configure(sourceEditor, '', undefined, 'ace/mode/html', true);
    var javaEditor = ace.edit('javaEditor');
    configure(javaEditor, '', undefined, 'ace/mode/java', true);
    
    var currentState = 'view';

    function reloadEditor(url, editor) {
        $.ajax(url, {
            type: 'GET',
            dataType: 'text',
            cache: false,
            processData: false,
            success: function(data) {
                editor.setValue(data);
                editor.clearSelection();
            },
            error: function(req, textStatus, message) {
                console.error(message);
                editor.setValue(req.responseText);
                editor.clearSelection();
            }
        });
    }

    function setupSelector(selector, viewElem, state) {
        $(selector).click(function() {
            $('.output-view').hide();
            $(viewElem).show();
            currentState = state;
            refreshOutput();
        });
    }

    function refreshFrame() {
        document.getElementById('outputFrame').contentDocument.location.reload(true);
    }

    function refreshOutput() {
        switch (currentState) {
            case "view":
                refreshFrame();
                break;
            case "source":
                reloadEditor(PAGE_URL, sourceEditor);
                break;
            case "java":
                $.get(PAGE_URL).always(function() {
                    reloadEditor(JAVA_URL, javaEditor);
                });
                break;
        }
    }

    setupSelector('#view-selector', '#outputFrame', 'view');
    setupSelector('#source-selector', '#sourceEditor', 'source');
    setupSelector('#java-selector', '#javaEditor', 'java');
    
</script>

</body>
</html>
