<!DOCTYPE html>
<html lang="en" data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Sightly REPL</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        
        <output data-sly-call="${clientLib.css @ categories='repl'}" data-sly-unwrap>
    </head>
    
    <body data-sly-use.repl="repl.js">
        <h1>Sightly <small>REPL</small></h1>

        <div id="main" class="row">
            <div id="input" class="col-xs-6">
                <div class="editorContainer">
                    <p class="lead">template.html</p>
                    <div id="template" class="editor" data-src="/apps/repl/components/repl/template.html" data-mode="ace/mode/html" data-writeable></div>
                </div>

                <div class="editorContainer">
                    <p class="lead">logic.js</p>
                    <div id="logic" class="editor" data-src="/apps/repl/components/repl/logic.js" data-mode="ace/mode/javascript" data-writeable></div>
                </div>
            </div>
            <div id="output" class="editorContainer col-xs-6">
                <div class="clearfix">
                    <p class="lead pull-left">output.html</p>
                    <ul class="nav nav-pills navbar-right">
                        <li class="active"><a data-toggle="tab" href="#source">Source</a></li>
                        <li><a data-toggle="tab" href="#view">View</a></li>
                        <li><a data-toggle="tab" href="#java">Java</a></li>
                    </ul>
                </div>
                <div id="source" class="output-view editor" data-src="/content/repl.template.html" data-mode="ace/mode/html"></div>
                <iframe id="view" class="output-view hidden" src="/content/repl.template.html"></iframe>
                <div id="java" class="output-view editor hidden" data-src="${repl.classPath}" data-mode="ace/mode/java"></div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <output data-sly-call="${clientLib.js @ categories='repl'}" data-sly-unwrap>
    </body>
</html>
