<!DOCTYPE html>
<html lang="en" data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>${currentPage.title || currentPage.name}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <sly data-sly-call="${clientLib.css @ categories='repl'}" data-sly-unwrap></sly>
    </head>
    
    <body data-sly-use.repl="repl.js">
        <div id="logo" title="${properties.jcr:title}">&nbsp;</div>

        <div id="main" class="row">
            <div id="input" class="col-xs-6">
                <div class="editorContainer">
                    <p class="lead">${repl.templateFile}</p>
                    <div id="template" class="editor" data-src="${repl.templatePath @ context='uri'}" data-mode="ace/mode/html" data-writeable></div>
                </div>

                <div class="editorContainer">
                    <p class="lead">${repl.logicFile}</p>
                    <div id="logic" class="editor" data-src="${repl.logicPath @ context='uri'}" data-mode="ace/mode/javascript" data-writeable></div>
                </div>
            </div>
            <div id="output" class="editorContainer col-xs-6">
                <div class="clearfix">
                    <p class="lead pull-left">output.html</p>
                    <ul class="nav nav-pills navbar-right">
                        <li class="active"><a data-toggle="tab" href="#source">Source</a></li>
                        <li><a data-toggle="tab" href="#view">View</a></li>
                    </ul>
                </div>
                <div id="source" class="output-view editor" data-src="${repl.contentPath @ context='uri'}?wcmmode=disabled" data-mode="ace/mode/html"></div>
                <iframe id="view" class="output-view hidden" src="${repl.contentPath}?wcmmode=disabled"></iframe>
            </div>
        </div>

        <sly data-sly-call="${clientLib.js @ categories='repl'}" data-sly-unwrap></sly>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    </body>
</html>
